body{
    font-family: 'Montserrat' seans-serif;
     overflow-x: hidden;

}
#titulo-formulrio {
    color: #3f3f3f;
}

footer {
    color:#f3f3f3;
    text-align: center;
}


#icinos i {
    font-size: 26px;
    padding: 0 8px;
    color: #f3f3f3;
}